body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul.bottom{
    margin-top: 20px;
  }
  
  li {
    margin-bottom: 1px;
  }
  
  a {
    color: white;
    text-decoration: none;
    
  }
  
  .container {
    text-align: center;
    height: 100%;
    padding: 1px;
    box-sizing: content-box;
    display: grid;
    grid-template-columns: repeat(4, auto-fill);
    grid-template-rows: repeat(3, auto-fill);
    
  }

  .container div {
  
    font-family: 'Roboto', sans-serif;
    
  }

/* ----- Start of Header ----- */

  .header {
   
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    height: 20vh;
    margin-top: 25px;
    margin-right: 50px;
  }

/* ---- start header top ---- */

  /* below styles both top and bottom */
  .content-top {
    display: flex;
    justify-content: space-evenly;
    gap: 10vw;
    align-items: flex-start;
  }

  .search {
    display: flex;
    gap: 30px;
    
  }
  .search_input{
    padding: 6px;
    border: none;
    font-size: 17px;
    background-color: rgb(226, 226, 248);
    width: 40vw;
    border-radius: 25px;
  }

  .top-icons {
    display: flex;

  }
  

  .top-icons .mdi-face-man-outline{
    transform: scale(3)
    
  }

  .top-name {
    font-size: 18px;
    font-weight: bold;
  }

/* ---- end header top --- */

/* ---- start header bottom ---- */
.content-bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.large-name {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    font-size: 20px;
    font-weight: bolder;
  }
  .large-name .mdi-face-man-outline{
    font-size: 30px;
    
  }

/* header buttons */

  .header-buttons {
    display: flex;
    
  }   

  .share-box {
    display: flex;
    justify-content: space-between;
  }
 
  .share  {
    color: white;
    background-color: rgb(0, 136, 255);
    border-radius: 25px;
    padding:10px;
    width: 80px;
    height: 30px;
  }

  /*  ---- END of HEADER ---- */

  /* ---- Start of SIDEBAR ----  */
  .sidebar {
    background-color: #3bd9e7;
    grid-column: 1/2;
    grid-row: 1/ 4;
    padding: 5px;
    width: 15vw;
    flex-shrink: 0;
    margin-top: 0;
    padding-top: 1px;
    text-align: left;
  }

  .lists {
    height: 60vh;
  }

  .top-nav-grid-logo {
    font-size: 30px;
  }

  
  .top-logo {
    padding-bottom: 50px;
    font-size: 30px;
    text-align:left;
    color: white;
  }

  .nav-grid-logo{
    font-size: 14px;
    text-align:left;
    color: white;
    padding: 1em;
  }
  
/*  --- main body - projects --- */
  .projects {
    margin: 0 auto;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    color: black;
    text-align: center;
    justify-content: center;
    font-size: 10px;
    background-color: #d7e2e3;
    grid-column: 2/3;
    grid-row: 2/4;
  }

  .project-items {
    margin: 0 auto;
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    display: flex;
    font-size: 10px;
    padding: 10px;
    width: 22vw;
    height: 18vh;
    background: white;
    margin: 10px;
    margin-left: 0;
    margin-right: 20px;
    border-left: 8px solid #204994;
    border-radius: 8px;
  }
  
  .right-side {
    display: flex;
    flex: 1;
    background-color: #d7e2e3;
    grid-column: 3/4;
    grid-row: 2 / 4;
    width: 20vw;
    padding: 10px;
    
  }
  
  .right-side>div>div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    background-color: white;
    border-radius: 15px;  
    margin-bottom: 10px;
  }

  .horizontal-line {
    border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 5px 0 20px; 
  }
 