body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
  
    
  }
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  :root {
    --clr-primary: #ee6352;
    --clr-body: #333;
    
  }
  
  .content {
    font-size: 1.125em;
  line-height: 1.6;
   
    padding: 1em;
    color: black;
      
  }

  .search {
    --size: 60px;
    border: 2px solid var(--clr-primary);
    display: flex;
    border-radius: 100px;
    overflow: hidden;
    font-size: 1.25em;
    position: relative;
    width: var(--size);
    height: var(--size);
    margin-right: auto;
    transition: width 450ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
    padding: 3px;
  }
  
  .search__input {
    color: black;
    border: 0;
    padding: .25em 1em;
    flex-grow: 1;
    outline: 0;
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: red;
    opacity: 0;
    cursor: pointer;
  }
  
  .search__submit {
    font-size: 1.5rem;
    margin-left: auto;
  
    background: 0;
    border: 0;
    cursor: pointer;
    border-radius: 50%;
    transition: background 200ms ease-out;
    width: calc(var(60px) - 10px);
    height: calc(var(60px) - 10px);
    color: black;
  }
  
  .search:focus-within {
    box-shadow: 0 0 5px var(--clr-primary); 
    width: 100%;
    
    .search__input {
      opacity: 1;
      z-index: initial;
      cursor: initial;
      width: calc(100% - var(--size));
    }
    
    .search__submit {
      background: var(--clr-primary);
      color: white;
      box-shadow: 0 0 10px rgba(0,0,0,.15);
      transition: transform 500ms ease-out; 
      
      &:hover,
      &:focus {
        outline: 0;
        transform: rotate(1turn); 
        box-shadow: 0 0 10px rgba(0,0,0,.65);
      }
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul.bottom{
    margin-top: 20px;
  }
  
  li {
    margin-bottom: 1px;
  }
  
  a {
    color: white;
    text-decoration: none;
    
  }
  
  .container {
    text-align: center;
    height: 100%;
    padding: 1px;
    box-sizing: content-box;
    display: grid;
    grid-template-columns: repeat(4, auto-fill);
    grid-template-rows: repeat(3, auto-fill);
    
  }

  .container div {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }

  .header {
    font-size: 20px;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    height: 20vh;
  
    
  }
  
  .sidebar {
    background-color: #3bd9e7;
    grid-column: 1/2;
    grid-row: 1/ 4;
    padding: 5px;
    width: 15vw;
    flex-shrink: 0;
    margin-top: 0;
    padding-top: 1px;
    text-align: left;
  }

  .lists {
    height: 60vh;
  }

  .top-nav-grid-logo {
    font-size: 30px;
  }

  
  .top-logo {
    padding-bottom: 50px;
    font-size: 30px;
    text-align:left;
    color: white;
  }

  .nav-grid-logo{
    font-size: 14px;
    text-align:left;
    color: white;
    padding: 1em;
  }
  
  .dashboard {
    
  }

  .projects {
    margin: 0 auto;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    color: black;
    text-align: center;
    justify-content: center;
    font-size: 10px;
    background-color: #d7e2e3;
    grid-column: 2/3;
    grid-row: 2/4;
  }

  .project-items {
    margin: 0 auto;
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    display: flex;
    font-size: 10px;
    padding: 10px;
    width: 22vw;
    height: 18vh;
    background: white;
    margin: 10px;
    margin-left: 0;
    margin-right: 20px;
    border-left: 8px solid #204994;
    border-radius: 8px;
  }
  
  .right-side {
    display: flex;
    flex: 1;
    background-color: #d7e2e3;
    grid-column: 3/4;
    grid-row: 2 / 4;
    width: 20vw;
    padding: 10px;
    
  }
  
  .right-side>div>div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    background-color: white;
    border-radius: 15px;  
    margin-bottom: 10px;
  }

  .horizontal-line {
    border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 5px 0 20px; 
  }
 