body, html {
    height: 100%;
    margin: 0;
  }
  
  .container {
      display: flex;
    text-align: center;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(5, auto-fill);
    grid-template-rows: repeat(4, auto-fill);
    column-gap: 10px;
    row-gap: 10px;
  }

  .container div {
    padding: 1px;
    padding-bottom: 95px;
    padding-top: 5px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
    border-radius: 15px;
  }

  header {
    background-color: #f9f9f9;
    grid-column: 2 / 5;
    grid-row: 1 / 2;
  }
  
  .sidebar {
    background-color: #3018ba;
    grid-column: 1/2;
    grid-row: 1/ 4;
  }
  
  .content {
    background-color: #cee1e4;
    grid-column: 2/3;
    grid-row: 2/4;
    
  }
  
  .right-side {
    background-color: #bccbde;
    grid-column: 3/4;
    grid-row: 2 / 4;
  }
  
 